.release{
    display: block;

   }
   
   .container-all{

    padding-top: 0;
   }
   
   .release img {
    padding-left: 0;
    border-radius: 10px;
    margin-right: 12px;
    margin-left: 12px;
    width: 620px;
    height:250px   
   }
   
   .movie-container{
     display: inline;
     margin-top: 10px;
     margin-left: 3px;  
   }
   
   .movie-container img {
    margin-top: 10px;
    padding:0;
    border-radius: 10px;    
    display: inline ;
    width:140px;
    height:230px;
    margin-left: 5px;
   
   }
   
   .container-show{
   margin-top: 0; 
   background-color: brown;
   padding-top: 10px; 
   }