   .movie-container{
     display: inline;
     margin-top: 10px;
     margin-left: 3px;  
   }
   
   .movie-container img {
    margin-top: 10px;
    padding:0;
    border-radius: 10px;    
    display: inline ;
    width:140px;
    height:230px;
    margin-left: 5px;
   
   }