
  /*  .release{
    padding-left: 0;
    border-radius: 10px;
    margin-right: 12px;
    margin-left: 12px;
    width: 50%;
    height: 20%;
   } 
    */
   
    .releaseTwo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    }

    .release{
      width:95%;
      height: 280px;
      border-radius: 10px;
      margin-left: 10px;
    }

   .all-movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 25px;
    padding-right: 30px;
    column-gap: -10px 
   }

   .not-found{
     color: red;
     display: block;
     width:100%;
     margin-left: 20%;
     margin-top: 10%;
   }

   .loading{
    display: block;
    width:100%;
    margin-left: 20%;
    margin-top: 10%;
   }
  
