.searchbar{
  margin-top: 10px;
  margin-left: 15px;
}

.searchbar-movie{
  display: flex; 
}

.searchbar-movie h3 {
 margin-top: 40px; 
}

.searchbar-movie input{
 margin-left: 20%;
 margin-top: 10px;
 margin-bottom: 10px;
 padding-left: 40px;
 border-radius: 10px;
 width:30%;
 height: 30px;
 border:none;
 box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}

 .searchGlass{
 color:rgb(198, 192, 192);
 position: absolute;
 margin-top: 20px;
 margin-left:23%; 
} 





@media (max-width:600px){
  .searchbar-movie{
    display: block
  }

  .searchbar-movie input{
    margin-left: 0px;
    padding-left: 30px;
    width:80%;
    
   }

   .searchGlass{
    color:rgb(198, 192, 192);
    position: absolute;
    margin-top: 19px;
    margin-left:10px 
   }

}

 @media (min-width:600px) and (max-width:900px){
  .searchGlass{

    margin-left:27% 
   } 
} 

@media (min-width:900px) and (max-width:1350px){
  .searchGlass{

    margin-left:25% 
   } 
} 