.head img{
 width:150px;
 height:75px;
 border-radius: 5px;  

 
}
.head{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    }

.menu a{
  margin-left: 25%;
  margin-top: 10%;
  text-decoration: none;
}

.sidebar {
 height: 120vh;
 width: 300px;
 background-color: rgb(10, 1, 33);
 
}

#sidebar-container{
  width:230px  
}